html{
    background-color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
    h2,h3{
        text-decoration: underline;
    }
}

header h1{
    color: rosybrown;
    font-size: 77px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.sidebar{
    position: fixed;
    left: 0;
    width:250px;
    height:auto ;
    background-color: antiquewhite;
    scroll-behavior: smooth;
}
nav ul{
    font-size: 30px;
    list-style: none;
    text-decoration: wavy;
}
nav li{
    margin: 15px;
    padding: 17px;
}

nav a{
    color: aqua;
}

nav a:hover{
    color: darkcyan;
    font-size: 35px;
    transition: 5ms;
    
}

.container{
    font-size: 22px;
    max-width: 70rem;
    margin: auto;
    margin-left: 15em;
}

#top{
    background-color: blanchedalmond;
    display : flex;
    flex-direction : row;
    img{
        border: 2.5px;
        border-color: black;
        border-radius: 75%;
    }
    p{
        font-size: 60px;
        justify-content: center;
        padding-left:2.5%;
    }  
} 


#projects{
    a{
        text-decoration:underline;
        color: black;
    }
    a:hover{
        color: rgba(0, 0, 0, 0.45);
    }
}



footer{
   text-align: center;
    }
